{% extends "base.html" %}

{% block content %}
<h1 class="title">

Thanks for filling out the form. Kindly follow the instructions ahead: - <br />
•	Click the Dataset Labelling button to rate the images <br />
•	The page ahead shows two images with sliders. Use the sliders to slide through the emotions you experience after seeing the images <br />
•	A negative number denotes negative emotion, and a positive number denotes positive emotion <br />
•	Click the Log entry button to submit your inputs <br />


</h1>
{% endblock %}