{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Welcome, {{name}}! This is a student research project that aims to research Affective response. We are trying to create a generative model that would generate abstract images that would take people to certain emotional states. This could have implications in the field of therapy, rehabilitation, entertainment, etc. We request you to kindly follow the instructions: - <br/>
•	Click the button below and fill in the Personality Test form <br/>
•	After successfully filling the form, click the Dataset Labelling button and follow further instructions ahead <br />

</h1>
{% endblock %}